.yesButtonStyle {
    background-color: rgb(9, 156, 9);
    color: rgb(255, 246, 233);
    padding: 50px;
    margin: 10px;
    font-size: 40px;
    border-radius: 16px;
    border-color: transparent;
    font-family: "Sour Gummy", sans-serif;
}

.noButtonStyle {
    background-color: rgb(255, 60, 60);
    color: rgb(255, 246, 233);
    padding: 50px;
    margin: 10px;
    font-size: 40px;
    border-radius: 16px;
    border-color: transparent;
    font-family: "Sour Gummy", sans-serif;

}

.image-container {
    text-align: center;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body {
    background-color: #76d1cc;
    margin: auto;
    text-align: center;

}

h1 {
    font-family: "Sour Gummy", sans-serif;
    color: #3d1e1c;
    font-size: 50px;
}

p {
    font-family: "Sour Gummy", sans-serif;
    color: #3d1e1c;
    font-size: 30px;
}
/*  .sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

*/ 