.yesButtonStyle {
    background-color: rgb(9, 156, 9);
    color: rgb(255, 246, 233);
    padding: 50px;
    margin: 25px;
    font-size: 60px;
    border-radius: 16px;
    border-color: transparent;
    font-family: "Sour Gummy", sans-serif;
}

.yesButtonStyle:hover {
    box-shadow: 0 0 40px 5px rgb(146, 231, 146);
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
}

.noButtonStyle {
    background-color: rgb(255, 60, 60);
    color: rgb(255, 246, 233);
    padding: 50px;
    margin: 25px;
    font-size: 60px;
    border-radius: 16px;
    border-color: transparent;
    font-family: "Sour Gummy", sans-serif;
}

.noButtonStyle:hover {
    box-shadow: 0 0 40px 5px rgb(255, 120, 120);
    transform:scale(0.85,0.85);
    -webkit-transform:scale(0.85,0.85);
    -moz-transform:scale(0.85,0.85);
}    

.image-container {
    text-align: center;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}    

.sillyWobble {
    animation: shake linear 0.8s;
    animation-iteration-count: infinite;
}



@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  20% { transform: translate(2px, 2px) rotate(3deg); }
  40% { transform: translate(-2px, -2px) rotate(-3deg); }
  60% { transform: translate(-2px, -2px) rotate(-3deg); }
  80% { transform: translate(2px, 2px) rotate(3deg); }
  100% { transform: translate(-1px, 0px) rotate(-1deg); }
}

body {
    background-color: #76d1cc;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: "Sour Gummy", sans-serif;
    color: #3d1e1c;
    font-size: 75px;
}

p {
    font-family: "Sour Gummy", sans-serif;
    color: #3d1e1c;
    font-size: 45px;
}
/*  .sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

*/ 